In [29]:
import pandas as pd

In [53]:
AT_landmarks = pd.read_csv('./data/tidy/tidyLandmarks_AT_new.csv')
AT_landmarks

,Unnamed: 0,Index,min_alpha,max_alpha,min_theta,max_theta,num,pts,r,stype
0,1,1,-14.29,-4.76,-0.79,0.00,50,19,12.885591,mt-at
1,2,1,-14.29,-4.76,-1.57,-0.79,50,0,NaN,mt-at
2,3,1,-14.29,-4.76,-2.36,-1.57,50,0,NaN,mt-at
3,4,1,-14.29,-4.76,-3.14,-2.36,50,0,NaN,mt-at
4,5,1,-14.29,-4.76,0.00,0.79,50,1,2.318041,mt-at
5,6,1,-14.29,-4.76,0.79,1.57,50,49,9.531598,mt-at
6,7,1,-14.29,-4.76,1.57,2.36,50,0,NaN,mt-at
7,8,1,-14.29,-4.76,2.36,3.14,50,0,NaN,mt-at
8,9,1,-23.82,-14.29,-0.79,0.00,50,468,9.478222,mt-at
9,10,1,-23.82,-14.29,-1.57,-0.79,50,59,3.836055,mt-at
10,11,1,-23.82,-14.29,-2.36,-1.57,50,1,5.811333,mt-at
11,12,1,-23.82,-14.29,-3.14,-2.36,50,2,3.849932,mt-at
12,13,1,-23.82,-14.29,0.00,0.79,50,0,NaN,mt-at
13,14,1,-23.82,-14.29,0.79,1.57,50,1,8.489254,mt-at
14,15,1,-23.82,-14.29,1.57,2.36,50,0,NaN,mt-at
15,16,1,-23.82,-14.29,2.36,3.14,50,0,NaN,mt-at
16,17,1,-33.35,-23.82,-0.79,0.00,50,0,NaN,mt-at
17,18,1,-33.35,-23.82,-1.57,-0.79,50,18,3.957393,mt-at
18,19,1,-33.35,-23.82,-2.36,-1.57,50,9,7.225859,mt-at
19,20,1,-33.35,-23.82,-3.14,-2.36,50,4,4.298865,mt-at
20,21,1,-33.35,-23.82,0.00,0.79,50,0,NaN,mt-at
21,22,1,-33.35,-23.82,0.79,1.57,50,0,NaN,mt-at
22,23,1,-33.35,-23.82,1.57,2.36,50,84,4.502458,mt-at
23,24,1,-33.35,-23.82,2.36,3.14,50,64,5.251854,mt-at
24,25,1,-4.76,4.76,-0.79,0.00,50,0,NaN,mt-at
25,26,1,-4.76,4.76,-1.57,-0.79,50,0,NaN,mt-at
26,27,1,-4.76,4.76,-2.36,-1.57,50,0,NaN,mt-at
27,28,1,-4.76,4.76,-3.14,-2.36,50,0,NaN,mt-at
28,29,1,-4.76,4.76,0.00,0.79,50,0,NaN,mt-at
29,30,1,-4.76,4.76,0.79,1.57,50,1,13.205121,mt-at
...,...,...,...,...,...,...,...,...,...,...
11826,11827,6,52.40,61.93,-2.36,-1.57,50,0,NaN,mt-at
11827,11828,6,52.40,61.93,-3.14,-2.36,50,0,NaN,mt-at
11828,11829,6,52.40,61.93,0.00,0.79,50,155,3.770187,mt-at
11829,11830,6,52.40,61.93,0.79,1.57,50,98,3.170176,mt-at
11830,11831,6,52.40,61.93,1.57,2.36,50,27,4.201843,mt-at
11831,11832,6,52.40,61.93,2.36,3.14,50,0,NaN,mt-at
11832,11833,6,61.93,71.46,-0.79,0.00,50,0,NaN,mt-at
11833,11834,6,61.93,71.46,-1.57,-0.79,50,0,NaN,mt-at
11834,11835,6,61.93,71.46,-2.36,-1.57,50,0,NaN,mt-at
11835,11836,6,61.93,71.46,-3.14,-2.36,50,0,NaN,mt-at
11836,11837,6,61.93,71.46,0.00,0.79,50,0,NaN,mt-at
11837,11838,6,61.93,71.46,0.79,1.57,50,1,3.122171,mt-at
11838,11839,6,61.93,71.46,1.57,2.36,50,0,NaN,mt-at
11839,11840,6,61.93,71.46,2.36,3.14,50,0,NaN,mt-at
11840,11841,6,71.46,80.99,-0.79,0.00,50,0,NaN,mt-at
11841,11842,6,71.46,80.99,-1.57,-0.79,50,0,NaN,mt-at
11842,11843,6,71.46,80.99,-2.36,-1.57,50,0,NaN,mt-at
11843,11844,6,71.46,80.99,-3.14,-2.36,50,0,NaN,mt-at
11844,11845,6,71.46,80.99,0.00,0.79,50,0,NaN,mt-at
11845,11846,6,71.46,80.99,0.79,1.57,50,0,NaN,mt-at
11846,11847,6,71.46,80.99,1.57,2.36,50,0,NaN,mt-at
11847,11848,6,71.46,80.99,2.36,3.14,50,0,NaN,mt-at
11848,11849,6,80.99,90.51,-0.79,0.00,50,0,NaN,mt-at
11849,11850,6,80.99,90.51,-1.57,-0.79,50,0,NaN,mt-at
11850,11851,6,80.99,90.51,-2.36,-1.57,50,0,NaN,mt-at
11851,11852,6,80.99,90.51,-3.14,-2.36,50,0,NaN,mt-at
11852,11853,6,80.99,90.51,0.00,0.79,50,0,NaN,mt-at
11853,11854,6,80.99,90.51,0.79,1.57,50,0,NaN,mt-at
11854,11855,6,80.99,90.51,1.57,2.36,50,0,NaN,mt-at
11855,11856,6,80.99,90.51,2.36,3.14,50,0,NaN,mt-at

In [54]:
AT_landmarks = AT_landmarks.drop(columns = ['Unnamed: 0'])

In [55]:
AT_landmarks['unique_key'] = AT_landmarks['min_alpha'].astype(str) + "/" + AT_landmarks["min_theta"].astype(str)

In [64]:
AT_landmarks = AT_landmarks.sort_values(['min_alpha', 'min_theta'])
AT_landmarks

,Index,min_alpha,max_alpha,min_theta,max_theta,num,pts,r,stype,unique_key,landmark_index
75,1,-90.51,-80.99,-3.14,-2.36,50,0,NaN,mt-at,-90.51/-3.14,-90.51/-3.14
227,101,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
379,102,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
531,103,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
683,104,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
835,105,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
987,106,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
1139,107,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
1291,108,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
1443,109,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
1595,110,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
1747,111,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
1899,112_1,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
2051,112_2,-90.51,-80.99,-3.14,-2.36,50,0,NaN,mt-at,-90.51/-3.14,NaN
2203,113,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
2355,114,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
2507,115,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
2659,116,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
2811,117,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
2963,118,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
3115,119,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
3267,120,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
3419,121,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
3571,122,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
3723,123,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
3875,124,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
4027,125,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
4179,126,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
4331,127,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
4483,128,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7447,2,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
7599,21,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
7751,24,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
7903,3,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
8055,317,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
8207,318,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
8359,319,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
8511,320,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
8663,321,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
8815,323,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
8967,324,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
9119,325,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
9271,326,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
9423,327,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
9575,328,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
9727,329,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
9879,330,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
10031,331,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
10183,332,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
10335,333,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
10487,334,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
10639,335,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
10791,336,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
10943,337,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
11095,338,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
11247,339,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
11399,340,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
11551,4,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
11703,5,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN
11855,6,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,NaN

In [71]:
AT_landmarks['landmark_index'] = AT_landmarks.groupby('Index', as_index = False).cumcount()+1

In [76]:
AT_landmarks = AT_landmarks.rename(columns = {'Index': 'sample_index'})

In [79]:
AT_landmarks.to_csv("../try.csv", index = False)

In [97]:
def addRelativeIndices(path, key1, key2, indexCol, groupIndex):
    df = pd.read_csv(path)
    if('Unnamed: 0' in df.columns):
        df = df.drop(columns = ['Unnamed: 0'])
    df['unique_key'] = df[key1].astype(str) + "/" + df[key2].astype(str)
    df = df.sort_values([key1, key2])
    df[indexCol] = df.groupby(groupIndex).cumcount()+1
    df = df.rename(columns = {'Index': 'sample_index'})
    return df

In [98]:
addRelativeIndices("./data/tidy/tidyLandmarks_AT_new.csv", "min_alpha", "min_theta", "landmark_index", "Index")

,sample_index,min_alpha,max_alpha,min_theta,max_theta,num,pts,r,stype,unique_key,landmark_index
75,1,-90.51,-80.99,-3.14,-2.36,50,0,NaN,mt-at,-90.51/-3.14,1
227,101,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
379,102,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
531,103,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
683,104,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
835,105,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
987,106,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
1139,107,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
1291,108,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
1443,109,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
1595,110,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
1747,111,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
1899,112_1,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
2051,112_2,-90.51,-80.99,-3.14,-2.36,50,0,NaN,mt-at,-90.51/-3.14,1
2203,113,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
2355,114,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
2507,115,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
2659,116,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
2811,117,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
2963,118,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
3115,119,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
3267,120,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
3419,121,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
3571,122,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
3723,123,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
3875,124,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
4027,125,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
4179,126,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
4331,127,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
4483,128,-90.51,-80.99,-3.14,-2.36,50,0,NaN,wt-at,-90.51/-3.14,1
...,...,...,...,...,...,...,...,...,...,...,...
7447,2,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
7599,21,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
7751,24,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
7903,3,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
8055,317,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
8207,318,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
8359,319,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
8511,320,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
8663,321,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
8815,323,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
8967,324,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
9119,325,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
9271,326,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
9423,327,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
9575,328,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
9727,329,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
9879,330,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
10031,331,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
10183,332,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
10335,333,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
10487,334,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
10639,335,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
10791,336,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
10943,337,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
11095,338,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
11247,339,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
11399,340,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
11551,4,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
11703,5,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152
11855,6,80.99,90.51,2.36,3.14,50,0,NaN,mt-at,80.99/2.36,152