In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score

%matplotlib inline

### A function that returns all result file pathes in the output folder

In [2]:
"""
Return a list of result file pathes in the output folder

output_path: output folder name
"""
def get_result_file_pathes(output_path):
    results = os.listdir(output_path)
    results = [output_path + '/' + result for result in results]
    return results

### A function that generates precision scores and write the results to a new file.

In [53]:
"""
Return the result dataframe containing precision scores calculated.

input_path: raw result file's path
"""
def process_row_data(input_path):
    results = pd.read_csv(input_path)
    results.columns = results.columns.str.strip()
    #results['sample_id'] = str(id)
    results['w_support'] = (results['ww'] + results['wm'])
    results['m_support'] = (results['mm'] + results['mw'])

    results['w_precision'] = results['ww'] / (results['ww'] + results['mw'])
    results['w_recall'] = results['ww'] / (results['ww'] + results['wm'])
    results['m_precision'] = results['mm'] / (results['mm'] + results['wm'])
    results['m_recall'] = results['mm'] / (results['mm'] + results['mw'])
    results = results.fillna(0)
    
    results['w_f1'] = ( 2 * results['w_precision'] * results['w_recall'] )/ (results['w_precision'] + results['w_recall'])
    results['m_f1'] = ( 2 * results['m_precision'] * results['m_recall'] )/ (results['m_precision'] + results['m_recall'])
    results = results.fillna(0)
    
    results['precision'] = ((results['w_precision'] * results['w_support']) + (results['m_precision'] * results['m_support']))/ (results['w_support'] + results['m_support'])
    results['recall'] = ((results['w_recall'] * results['w_support']) + (results['m_recall'] * results['m_support']))/ (results['w_support'] + results['m_support'])
    results['f1'] = ((results['w_f1'] * results['w_support']) + (results['m_f1'] * results['m_support']))/ (results['w_support'] + results['m_support'])
    results = results.fillna(0)
    
    return results

### Analysis Distribution of Overall Scores

In [54]:
def analyse_result(file_path, show_distribution, show_voting):
    results = pd.read_csv(file_path)
    results['sample_index'] = results['sample_index'].astype(str)

    if show_distribution:
        # the histogram of the data
        plt.figure(figsize=(15, 15)) 
        plt.subplot(3, 3, 1)
        plt.hist(results.precision, 50, facecolor='b', alpha=0.5, normed=True, range=[0, 1])
        plt.xlabel('precision')
        plt.title('Overall Precision')
        plt.grid(True)

        plt.subplot(3, 3, 2)
        plt.hist(results.recall, 50, facecolor='r', alpha=0.5, normed=True, range=[0, 1])
        plt.xlabel('recall')
        plt.title('Overall Recall')
        plt.grid(True)

        plt.subplot(3, 3, 3)
        plt.hist(results.f1, 50, facecolor='g', alpha=0.5, normed=True, range=[0, 1])
        plt.xlabel('F1')
        plt.title('Overall F1')
        plt.grid(True)

        plt.subplot(3, 3, 4)
        plt.hist(results.w_precision, 50, facecolor='b', alpha=0.5, range=[0, 1])
        plt.xlabel('precision')
        plt.title('WT Precision')
        plt.grid(True)

        plt.subplot(3, 3, 5)
        plt.hist(results.w_recall, 50, facecolor='r', alpha=0.5, range=[0, 1])
        plt.xlabel('recall')
        plt.title('WT Recall')
        plt.grid(True)

        plt.subplot(3, 3, 6)
        plt.hist(results.w_f1, 50, facecolor='g', alpha=0.5, range=[0, 1])
        plt.xlabel('f1')
        plt.title('WT F1')
        plt.grid(True)

        plt.subplot(3, 3, 7)
        plt.hist(results.m_precision, 50, facecolor='b', alpha=0.5, range=[0, 1])
        plt.xlabel('precision')
        plt.title('MT Precision')
        plt.grid(True)

        plt.subplot(3, 3, 8)
        plt.hist(results.m_recall, 50, facecolor='r', alpha=0.5, range=[0, 1])
        plt.xlabel('recall')
        plt.title('MT Recall')
        plt.grid(True)

        plt.subplot(3, 3, 9)
        plt.hist(results.m_f1, 50, facecolor='g', alpha=0.5, range=[0, 1])
        plt.xlabel('F1')
        plt.title('MT F1')
        plt.grid(True)

        plt.show()

    if show_voting:
        correctness = []
        for sample_index in results.sample_index.unique():
            print('sample:', sample_index)
            sample_results = results[results.sample_index == str(sample_index)]
            
            label = sample_results.stype.tolist()[0]
            label = 0 if label == 'wt-at' else 1
            print('label:', sample_results.stype.tolist()[0])
            vote0 = sample_results[(sample_results.pred == 0)].shape[0]
            vote1 = sample_results[(sample_results.pred == 1)].shape[0]
            prediction = 1 if vote1 > vote0 else 0
            print('votes for type 0 (no threshold): ', vote0)
            print('votes for type 1 (no threshold): ', vote1)
            print('prediction (no threshold): ', prediction)
            print()
            
            vote0_threshold = sample_results[(sample_results.pred == 0) & (sample_results.f1 > 0.8)].shape[0]
            vote1_threshold = sample_results[(sample_results.pred == 1) & (sample_results.f1 > 0.8)].shape[0]
            prediction_threshold = 1 if vote1_threshold > vote0_threshold else 0
            print('votes for type 0 (f1>0.7): ', vote0_threshold)
            print('votes for type 1 (f1>0.7): ', vote1_threshold)
            print('prediction (f1>0.7): ', prediction_threshold)
            print('===================================')
            correctness.append(prediction_threshold == label)
        return correctness

### Testing

In [58]:
input_folder = 'output_ZRF_2med'
output_folder = 'analysis_ZRF_2med'
# get result file names
result_files = get_result_file_pathes(os.path.join(os.getcwd(), input_folder))

In [59]:
results = []
for result_file in result_files:
    name = result_file.split('/')[-1]
    if (name == '.DS_Store'): continue
    #id = ''.join(x for x in name if x.isdigit())
    print('processing: ' + name)
    
    # process raw result and append the dataframe to the results list
    results.append(process_row_data(result_file))

processing: ZRF152.csv
processing: ZRF141.csv
processing: ZRF140.csv
processing: ZRF142.csv
processing: ZRF340.csv
processing: ZRF143.csv
processing: ZRF118.csv
processing: ZRF124.csv
processing: ZRF130.csv
processing: ZRF326.csv
processing: ZRF332.csv
processing: ZRF333.csv
processing: ZRF327.csv
processing: ZRF131.csv
processing: ZRF125.csv
processing: ZRF119.csv
processing: ZRF127.csv
processing: ZRF319.csv
processing: ZRF331.csv
processing: ZRF325.csv
processing: ZRF324.csv
processing: ZRF330.csv
processing: ZRF318.csv
processing: ZRF126.csv
processing: ZRF132.csv
processing: ZRF112_1.csv
processing: ZRF136.csv
processing: ZRF122.csv
processing: ZRF334.csv
processing: ZRF320.csv
processing: ZRF321.csv
processing: ZRF335.csv
processing: ZRF123.csv
processing: ZRF137.csv
processing: ZRF121.csv
processing: ZRF112_2.csv
processing: ZRF135.csv
processing: ZRF109.csv
processing: ZRF323.csv
processing: ZRF337.csv
processing: ZRF336.csv
processing: ZRF108.csv
processing: ZRF134.csv
processing: ZRF120.csv
processing: ZRF6.csv
processing: ZRF139.csv
processing: ZRF105.csv
processing: ZRF111.csv
processing: ZRF110.csv
processing: ZRF104.csv
processing: ZRF138.csv
processing: ZRF5.csv
processing: ZRF106.csv
processing: ZRF338.csv
processing: ZRF339.csv
processing: ZRF107.csv
processing: ZRF113.csv
processing: ZRF4.csv
processing: ZRF117.csv
processing: ZRF103.csv
processing: ZRF329.csv
processing: ZRF328.csv
processing: ZRF102.csv
processing: ZRF116.csv
processing: ZRF1.csv
processing: ZRF3.csv
processing: ZRF114.csv
processing: ZRF128.csv
processing: ZRF317.csv
processing: ZRF129.csv
processing: ZRF115.csv
processing: ZRF101.csv
processing: ZRF2.csv
processing: ZRF172.csv
processing: ZRF19.csv
processing: ZRF24.csv
processing: ZRF21.csv

In [61]:
aggregated_result = pd.concat(results)
aggregated_result['sample_index'] = aggregated_result['sample_index'].astype(str)
print(aggregated_result.shape)


#landmark_data = pd.read_csv('./data/tidy/landmark_ZRF_w_index.csv')
#aggregated_result_w_type = pd.merge(aggregated_result,landmark_data[['sample_index','stype']],on='sample_index', how='left')
aggregated_result['pred'] = 1- aggregated_result_w_type['pred']
print(aggregated_result.shape)
aggregated_result.to_csv(output_folder + '/ZRF_2med_aggregated.csv')

(11704, 18)
(11704, 18)

In [15]:
correctness = analyse_result(output_folder + '/ZRF_2med_aggregated.csv', False, True)

NameError: name 'output_folder' is not defined

In [17]:
correctness = analyse_result('./analysis_AT_2med' + '/AT_2med_aggregated.csv', False, True)

sample: 113
label: wt-at
votes for type 0 (no threshold):  21432
votes for type 1 (no threshold):  1672
prediction (no threshold):  0

votes for type 0 (f1>0.7):  10488
votes for type 1 (f1>0.7):  152
prediction (f1>0.7):  0
===================================
sample: 107
label: wt-at
votes for type 0 (no threshold):  20824
votes for type 1 (no threshold):  2280
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9576
votes for type 1 (f1>0.7):  912
prediction (f1>0.7):  0
===================================
sample: 339
label: mt-at
votes for type 0 (no threshold):  9120
votes for type 1 (no threshold):  13984
prediction (no threshold):  1

votes for type 0 (f1>0.7):  2280
votes for type 1 (f1>0.7):  8360
prediction (f1>0.7):  1
===================================
sample: 338
label: mt-at
votes for type 0 (no threshold):  7448
votes for type 1 (no threshold):  15656
prediction (no threshold):  1

votes for type 0 (f1>0.7):  1976
votes for type 1 (f1>0.7):  8968
prediction (f1>0.7):  1
===================================
sample: 106
label: wt-at
votes for type 0 (no threshold):  21736
votes for type 1 (no threshold):  1368
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9728
votes for type 1 (f1>0.7):  456
prediction (f1>0.7):  0
===================================
sample: 104
label: wt-at
votes for type 0 (no threshold):  21888
votes for type 1 (no threshold):  1216
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9880
votes for type 1 (f1>0.7):  304
prediction (f1>0.7):  0
===================================
sample: 110
label: wt-at
votes for type 0 (no threshold):  20064
votes for type 1 (no threshold):  3040
prediction (no threshold):  0

votes for type 0 (f1>0.7):  10032
votes for type 1 (f1>0.7):  152
prediction (f1>0.7):  0
===================================
sample: 138
label: wt-at
votes for type 0 (no threshold):  16416
votes for type 1 (no threshold):  6688
prediction (no threshold):  0

votes for type 0 (f1>0.7):  7752
votes for type 1 (f1>0.7):  3040
prediction (f1>0.7):  0
===================================
sample: 139
label: wt-at
votes for type 0 (no threshold):  18088
votes for type 1 (no threshold):  5016
prediction (no threshold):  0

votes for type 0 (f1>0.7):  8360
votes for type 1 (f1>0.7):  2584
prediction (f1>0.7):  0
===================================
sample: 111
label: wt-at
votes for type 0 (no threshold):  20064
votes for type 1 (no threshold):  3040
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9424
votes for type 1 (f1>0.7):  912
prediction (f1>0.7):  0
===================================
sample: 105
label: wt-at
votes for type 0 (no threshold):  19912
votes for type 1 (no threshold):  3192
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9424
votes for type 1 (f1>0.7):  912
prediction (f1>0.7):  0
===================================
sample: 129
label: wt-at
votes for type 0 (no threshold):  22040
votes for type 1 (no threshold):  1064
prediction (no threshold):  0

votes for type 0 (f1>0.7):  10184
votes for type 1 (f1>0.7):  760
prediction (f1>0.7):  0
===================================
sample: 101
label: wt-at
votes for type 0 (no threshold):  20064
votes for type 1 (no threshold):  3040
prediction (no threshold):  0

votes for type 0 (f1>0.7):  10184
votes for type 1 (f1>0.7):  456
prediction (f1>0.7):  0
===================================
sample: 115
label: wt-at
votes for type 0 (no threshold):  20672
votes for type 1 (no threshold):  2432
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9424
votes for type 1 (f1>0.7):  1064
prediction (f1>0.7):  0
===================================
sample: 317
label: mt-at
votes for type 0 (no threshold):  6232
votes for type 1 (no threshold):  16872
prediction (no threshold):  1

votes for type 0 (f1>0.7):  1064
votes for type 1 (f1>0.7):  9576
prediction (f1>0.7):  1
===================================
sample: 114
label: wt-at
votes for type 0 (no threshold):  18848
votes for type 1 (no threshold):  4256
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9424
votes for type 1 (f1>0.7):  1064
prediction (f1>0.7):  0
===================================
sample: 128
label: wt-at
votes for type 0 (no threshold):  22040
votes for type 1 (no threshold):  1064
prediction (no threshold):  0

votes for type 0 (f1>0.7):  10032
votes for type 1 (f1>0.7):  608
prediction (f1>0.7):  0
===================================
sample: 116
label: wt-at
votes for type 0 (no threshold):  18240
votes for type 1 (no threshold):  4864
prediction (no threshold):  0

votes for type 0 (f1>0.7):  8968
votes for type 1 (f1>0.7):  1976
prediction (f1>0.7):  0
===================================
sample: 102
label: wt-at
votes for type 0 (no threshold):  19912
votes for type 1 (no threshold):  3192
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9424
votes for type 1 (f1>0.7):  1520
prediction (f1>0.7):  0
===================================
sample: 328
label: mt-at
votes for type 0 (no threshold):  14592
votes for type 1 (no threshold):  8512
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9576
votes for type 1 (f1>0.7):  456
prediction (f1>0.7):  0
===================================
sample: 329
label: mt-at
votes for type 0 (no threshold):  10336
votes for type 1 (no threshold):  12768
prediction (no threshold):  1

votes for type 0 (f1>0.7):  7144
votes for type 1 (f1>0.7):  2888
prediction (f1>0.7):  0
===================================
sample: 103
label: wt-at
votes for type 0 (no threshold):  15656
votes for type 1 (no threshold):  7448
prediction (no threshold):  0

votes for type 0 (f1>0.7):  8208
votes for type 1 (f1>0.7):  2736
prediction (f1>0.7):  0
===================================
sample: 117
label: wt-at
votes for type 0 (no threshold):  17936
votes for type 1 (no threshold):  5168
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9272
votes for type 1 (f1>0.7):  1824
prediction (f1>0.7):  0
===================================
sample: 6
label: mt-at
votes for type 0 (no threshold):  3952
votes for type 1 (no threshold):  19152
prediction (no threshold):  1

votes for type 0 (f1>0.7):  1064
votes for type 1 (f1>0.7):  9576
prediction (f1>0.7):  1
===================================
sample: 1122
label: nan
votes for type 0 (no threshold):  134
votes for type 1 (no threshold):  18
prediction (no threshold):  0

votes for type 0 (f1>0.7):  61
votes for type 1 (f1>0.7):  5
prediction (f1>0.7):  0
===================================
sample: 4
label: mt-at
votes for type 0 (no threshold):  3040
votes for type 1 (no threshold):  20064
prediction (no threshold):  1

votes for type 0 (f1>0.7):  304
votes for type 1 (f1>0.7):  10032
prediction (f1>0.7):  1
===================================
sample: 5
label: mt-at
votes for type 0 (no threshold):  1976
votes for type 1 (no threshold):  21128
prediction (no threshold):  1

votes for type 0 (f1>0.7):  0
votes for type 1 (f1>0.7):  10488
prediction (f1>0.7):  1
===================================
sample: 1121
label: nan
votes for type 0 (no threshold):  8
votes for type 1 (no threshold):  144
prediction (no threshold):  1

votes for type 0 (f1>0.7):  3
votes for type 1 (f1>0.7):  63
prediction (f1>0.7):  1
===================================
sample: 172
label: mt-at
votes for type 0 (no threshold):  21128
votes for type 1 (no threshold):  1976
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9728
votes for type 1 (f1>0.7):  304
prediction (f1>0.7):  0
===================================
sample: 1
label: mt-at
votes for type 0 (no threshold):  2128
votes for type 1 (no threshold):  20976
prediction (no threshold):  1

votes for type 0 (f1>0.7):  152
votes for type 1 (f1>0.7):  10336
prediction (f1>0.7):  1
===================================
sample: 2
label: mt-at
votes for type 0 (no threshold):  3344
votes for type 1 (no threshold):  19760
prediction (no threshold):  1

votes for type 0 (f1>0.7):  1064
votes for type 1 (f1>0.7):  8968
prediction (f1>0.7):  1
===================================
sample: 3
label: mt-at
votes for type 0 (no threshold):  1520
votes for type 1 (no threshold):  21584
prediction (no threshold):  1

votes for type 0 (f1>0.7):  0
votes for type 1 (f1>0.7):  10336
prediction (f1>0.7):  1
===================================
sample: 152
label: mt-at
votes for type 0 (no threshold):  3344
votes for type 1 (no threshold):  19760
prediction (no threshold):  1

votes for type 0 (f1>0.7):  456
votes for type 1 (f1>0.7):  9728
prediction (f1>0.7):  1

===================================
sample: 143
label: wt-at
votes for type 0 (no threshold):  5016
votes for type 1 (no threshold):  18088
prediction (no threshold):  1

votes for type 0 (f1>0.7):  0
votes for type 1 (f1>0.7):  10032
prediction (f1>0.7):  1
===================================
sample: 340
label: mt-at
votes for type 0 (no threshold):  8816
votes for type 1 (no threshold):  14288
prediction (no threshold):  1

votes for type 0 (f1>0.7):  2280
votes for type 1 (f1>0.7):  8208
prediction (f1>0.7):  1
===================================
sample: 142
label: wt-at
votes for type 0 (no threshold):  1824
votes for type 1 (no threshold):  21280
prediction (no threshold):  1

votes for type 0 (f1>0.7):  912
votes for type 1 (f1>0.7):  9120
prediction (f1>0.7):  1
===================================
sample: 140
label: wt-at
votes for type 0 (no threshold):  19456
votes for type 1 (no threshold):  3648
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9424
votes for type 1 (f1>0.7):  1216
prediction (f1>0.7):  0
===================================
sample: 141
label: wt-at
votes for type 0 (no threshold):  21736
votes for type 1 (no threshold):  1368
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9880
votes for type 1 (f1>0.7):  760
prediction (f1>0.7):  0
===================================
sample: 132
label: wt-at
votes for type 0 (no threshold):  21128
votes for type 1 (no threshold):  1976
prediction (no threshold):  0

votes for type 0 (f1>0.7):  10184
votes for type 1 (f1>0.7):  456
prediction (f1>0.7):  0
===================================
sample: 126
label: wt-at
votes for type 0 (no threshold):  19000
votes for type 1 (no threshold):  4104
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9576
votes for type 1 (f1>0.7):  1368
prediction (f1>0.7):  0
===================================
sample: 330
label: mt-at
votes for type 0 (no threshold):  13832
votes for type 1 (no threshold):  9272
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9120
votes for type 1 (f1>0.7):  912
prediction (f1>0.7):  0
===================================
sample: 324
label: mt-at
votes for type 0 (no threshold):  8056
votes for type 1 (no threshold):  15048
prediction (no threshold):  1

votes for type 0 (f1>0.7):  304
votes for type 1 (f1>0.7):  10032
prediction (f1>0.7):  1
===================================
sample: 318
label: mt-at
votes for type 0 (no threshold):  7752
votes for type 1 (no threshold):  15352
prediction (no threshold):  1

votes for type 0 (f1>0.7):  912
votes for type 1 (f1>0.7):  9728
prediction (f1>0.7):  1
===================================
sample: 21
label: mt-at
votes for type 0 (no threshold):  1976
votes for type 1 (no threshold):  21128
prediction (no threshold):  1

votes for type 0 (f1>0.7):  304
votes for type 1 (f1>0.7):  9880
prediction (f1>0.7):  1
===================================
sample: 319
label: mt-at
votes for type 0 (no threshold):  7904
votes for type 1 (no threshold):  15200
prediction (no threshold):  1

votes for type 0 (f1>0.7):  304
votes for type 1 (f1>0.7):  10032
prediction (f1>0.7):  1
===================================
sample: 325
label: mt-at
votes for type 0 (no threshold):  6688
votes for type 1 (no threshold):  16416
prediction (no threshold):  1

votes for type 0 (f1>0.7):  912
votes for type 1 (f1>0.7):  9880
prediction (f1>0.7):  1
===================================
sample: 331
label: mt-at
votes for type 0 (no threshold):  11856
votes for type 1 (no threshold):  11248
prediction (no threshold):  0

votes for type 0 (f1>0.7):  3800
votes for type 1 (f1>0.7):  7752
prediction (f1>0.7):  1
===================================
sample: 127
label: wt-at
votes for type 0 (no threshold):  16568
votes for type 1 (no threshold):  6536
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9576
votes for type 1 (f1>0.7):  1216
prediction (f1>0.7):  0
===================================
sample: 133
label: wt-at
votes for type 0 (no threshold):  21736
votes for type 1 (no threshold):  1368
prediction (no threshold):  0

votes for type 0 (f1>0.7):  10032
votes for type 1 (f1>0.7):  152
prediction (f1>0.7):  0
===================================
sample: 125
label: wt-at
votes for type 0 (no threshold):  18392
votes for type 1 (no threshold):  4712
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9576
votes for type 1 (f1>0.7):  1520
prediction (f1>0.7):  0
===================================
sample: 131
label: wt-at
votes for type 0 (no threshold):  20976
votes for type 1 (no threshold):  2128
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9424
votes for type 1 (f1>0.7):  760
prediction (f1>0.7):  0
===================================
sample: 119
label: wt-at
votes for type 0 (no threshold):  22040
votes for type 1 (no threshold):  1064
prediction (no threshold):  0

votes for type 0 (f1>0.7):  10792
votes for type 1 (f1>0.7):  0
prediction (f1>0.7):  0
===================================
sample: 327
label: mt-at
votes for type 0 (no threshold):  13072
votes for type 1 (no threshold):  10032
prediction (no threshold):  0

votes for type 0 (f1>0.7):  8208
votes for type 1 (f1>0.7):  1824
prediction (f1>0.7):  0
===================================
sample: 333
label: mt-at
votes for type 0 (no threshold):  12768
votes for type 1 (no threshold):  10336
prediction (no threshold):  0

votes for type 0 (f1>0.7):  6080
votes for type 1 (f1>0.7):  4560
prediction (f1>0.7):  0
===================================
sample: 332
label: mt-at
votes for type 0 (no threshold):  7600
votes for type 1 (no threshold):  15504
prediction (no threshold):  1

votes for type 0 (f1>0.7):  1824
votes for type 1 (f1>0.7):  9424
prediction (f1>0.7):  1
===================================
sample: 326
label: mt-at
votes for type 0 (no threshold):  6536
votes for type 1 (no threshold):  16568
prediction (no threshold):  1

votes for type 0 (f1>0.7):  608
votes for type 1 (f1>0.7):  9880
prediction (f1>0.7):  1
===================================
sample: 118
label: wt-at
votes for type 0 (no threshold):  20520
votes for type 1 (no threshold):  2584
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9424
votes for type 1 (f1>0.7):  760
prediction (f1>0.7):  0
===================================
sample: 130
label: wt-at
votes for type 0 (no threshold):  19000
votes for type 1 (no threshold):  4104
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9120
votes for type 1 (f1>0.7):  1672
prediction (f1>0.7):  0
===================================
sample: 124
label: wt-at
votes for type 0 (no threshold):  21736
votes for type 1 (no threshold):  1368
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9880
votes for type 1 (f1>0.7):  456
prediction (f1>0.7):  0
===================================
sample: 108
label: wt-at
votes for type 0 (no threshold):  19608
votes for type 1 (no threshold):  3496
prediction (no threshold):  0

votes for type 0 (f1>0.7):  8816
votes for type 1 (f1>0.7):  1672
prediction (f1>0.7):  0
===================================
sample: 120
label: wt-at
votes for type 0 (no threshold):  19912
votes for type 1 (no threshold):  3192
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9424
votes for type 1 (f1>0.7):  912
prediction (f1>0.7):  0
===================================
sample: 134
label: wt-at
votes for type 0 (no threshold):  19608
votes for type 1 (no threshold):  3496
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9272
votes for type 1 (f1>0.7):  1520
prediction (f1>0.7):  0
===================================
sample: 336
label: mt-at
votes for type 0 (no threshold):  15352
votes for type 1 (no threshold):  7752
prediction (no threshold):  0

votes for type 0 (f1>0.7):  4864
votes for type 1 (f1>0.7):  6384
prediction (f1>0.7):  1
===================================
sample: 337
label: mt-at
votes for type 0 (no threshold):  7448
votes for type 1 (no threshold):  15656
prediction (no threshold):  1

votes for type 0 (f1>0.7):  1976
votes for type 1 (f1>0.7):  8816
prediction (f1>0.7):  1
===================================
sample: 323
label: mt-at
votes for type 0 (no threshold):  3496
votes for type 1 (no threshold):  19608
prediction (no threshold):  1

votes for type 0 (f1>0.7):  152
votes for type 1 (f1>0.7):  10336
prediction (f1>0.7):  1
===================================

sample: 135
label: wt-at
votes for type 0 (no threshold):  15960
votes for type 1 (no threshold):  7144
prediction (no threshold):  0

votes for type 0 (f1>0.7):  8208
votes for type 1 (f1>0.7):  2584
prediction (f1>0.7):  0
===================================
sample: 121
label: wt-at
votes for type 0 (no threshold):  18088
votes for type 1 (no threshold):  5016
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9576
votes for type 1 (f1>0.7):  760
prediction (f1>0.7):  0
===================================
sample: 109
label: wt-at
votes for type 0 (no threshold):  21888
votes for type 1 (no threshold):  1216
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9576
votes for type 1 (f1>0.7):  608
prediction (f1>0.7):  0
===================================
sample: 137
label: wt-at
votes for type 0 (no threshold):  19608
votes for type 1 (no threshold):  3496
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9880
votes for type 1 (f1>0.7):  608
prediction (f1>0.7):  0
===================================
sample: 123
label: wt-at
votes for type 0 (no threshold):  16112
votes for type 1 (no threshold):  6992
prediction (no threshold):  0

votes for type 0 (f1>0.7):  7448
votes for type 1 (f1>0.7):  3192
prediction (f1>0.7):  0
===================================
sample: 335
label: mt-at
votes for type 0 (no threshold):  9120
votes for type 1 (no threshold):  13984
prediction (no threshold):  1

votes for type 0 (f1>0.7):  1672
votes for type 1 (f1>0.7):  8664
prediction (f1>0.7):  1
===================================
sample: 321
label: mt-at
votes for type 0 (no threshold):  9424
votes for type 1 (no threshold):  13680
prediction (no threshold):  1

votes for type 0 (f1>0.7):  1368
votes for type 1 (f1>0.7):  9424
prediction (f1>0.7):  1
===================================
sample: 19
label: mt-at
votes for type 0 (no threshold):  1520
votes for type 1 (no threshold):  21584
prediction (no threshold):  1

votes for type 0 (f1>0.7):  0
votes for type 1 (f1>0.7):  10184
prediction (f1>0.7):  1
===================================
sample: 24
label: mt-at
votes for type 0 (no threshold):  1368
votes for type 1 (no threshold):  21736
prediction (no threshold):  1

votes for type 0 (f1>0.7):  152
votes for type 1 (f1>0.7):  10184
prediction (f1>0.7):  1
===================================
sample: 320
label: mt-at
votes for type 0 (no threshold):  10488
votes for type 1 (no threshold):  12616
prediction (no threshold):  1

votes for type 0 (f1>0.7):  2888
votes for type 1 (f1>0.7):  7600
prediction (f1>0.7):  1
===================================
sample: 334
label: mt-at
votes for type 0 (no threshold):  5320
votes for type 1 (no threshold):  17784
prediction (no threshold):  1

votes for type 0 (f1>0.7):  1672
votes for type 1 (f1>0.7):  8664
prediction (f1>0.7):  1
===================================
sample: 122
label: wt-at
votes for type 0 (no threshold):  16568
votes for type 1 (no threshold):  6536
prediction (no threshold):  0

votes for type 0 (f1>0.7):  8056
votes for type 1 (f1>0.7):  2584
prediction (f1>0.7):  0
===================================
sample: 136
label: wt-at
votes for type 0 (no threshold):  20672
votes for type 1 (no threshold):  2432
prediction (no threshold):  0

votes for type 0 (f1>0.7):  9728
votes for type 1 (f1>0.7):  760
prediction (f1>0.7):  0
===================================

In [18]:
correctness.count(False)

9

In [19]:
len(correctness)

78

In [28]:
aggregate = np.array_split(pd.read_csv('./analysis_ZRF_2med/ZRF_2med_aggregated.csv', index_col=0), 4)

/Users/dejiatang/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/dejiatang/anaconda/lib/python3.5/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [29]:
for i in range(4):
    aggregate[i].to_csv('./analysis_ZRF_2med/ZRF_2med_aggregated_' + str(i) + '.csv')

In [50]:
aggregated_result = pd.read_csv('./analysis_AT_2med/AT_2med_aggregated.csv', index_col=0)
aggregated_result['sample_index'] = aggregated_result['sample_index'].astype(str)
aggregated_result.sample_index.replace(['1121', '1122'], ['112_1', '112_2'], inplace=True)
aggregated_result['sample_index'] = aggregated_result['sample_index'].astype(str)
print(aggregated_result.shape)
print(aggregated_result.head())

aggregated_result.to_csv('./analysis_AT_2med/AT_2med_aggregated.csv')

(11856, 18)
         f1  landmark_index  m_f1  m_precision  m_recall  m_support  mm  mw  \
0  0.385027               1   0.0          0.0       0.0         35   0  35
1  0.385027               2   0.0          0.0       0.0         35   0  35
2  0.385027               3   0.0          0.0       0.0         35   0  35
3  1.000000               4   1.0          1.0       1.0         35  35   0
4  1.000000               5   1.0          1.0       1.0         35  35   0

   precision  pred    recall sample_index      w_f1  w_precision  w_recall  \
0   0.297521     0  0.545455          113  0.705882     0.545455       1.0
1   0.297521     0  0.545455          113  0.705882     0.545455       1.0
2   0.297521     0  0.545455          113  0.705882     0.545455       1.0
3   1.000000     0  1.000000          113  1.000000     1.000000       1.0
4   1.000000     0  1.000000          113  1.000000     1.000000       1.0

   w_support  wm  ww
0         42   0  42
1         42   0  42
2         42   0  42
3         42   0  42
4         42   0  42

In [63]:
AT = pd.read_csv('../5.output_AT_2med/AT330.csv', index_col=0)
AT.columns = AT.columns.str.strip()
AT['pred'] = 1 - AT['pred']

In [64]:
AT.head()

              landmark_index  pred  ww  wm  mm  mw
sample_index
330                        1     0   0  35  43   0
330                        2     0   0  35  43   0
330                        3     0   0  35  43   0
330                        4     1  35   0  43   0
330                        5     1  35   0  43   0

In [65]:
AT = AT.rename(columns={'ww': 'mm', 'wm': 'mw', 'mm': 'ww', 'mw': 'wm'})
AT.head()

              landmark_index  pred  mm  mw  ww  wm
sample_index
330                        1     0   0  35  43   0
330                        2     0   0  35  43   0
330                        3     0   0  35  43   0
330                        4     1  35   0  43   0
330                        5     1  35   0  43   0

In [66]:
AT.to_csv('../5.output_AT_2med/AT330.csv')

In [3]:
df = pd.read_csv('../7.aggregatedResults/AT_2med.csv')
df.head()

,type0_f1,type0_precision,type0_recall,type0_support,type1_f1,type1_precision,type1_recall,type1_support,f1,landmark_index,type1_1,type1_0,precision,pred,recall,sample_index,type0_1,type0_0
0,0.705882,0.545455,1.0,42,0.0,0.0,0.0,35,0.385027,1,0,35,0.297521,0,0.545455,113,0,42
1,0.705882,0.545455,1.0,42,0.0,0.0,0.0,35,0.385027,2,0,35,0.297521,0,0.545455,113,0,42
2,0.705882,0.545455,1.0,42,0.0,0.0,0.0,35,0.385027,3,0,35,0.297521,0,0.545455,113,0,42
3,1.000000,1.000000,1.0,42,1.0,1.0,1.0,35,1.000000,4,35,0,1.000000,0,1.000000,113,0,42
4,1.000000,1.000000,1.0,42,1.0,1.0,1.0,35,1.000000,5,35,0,1.000000,0,1.000000,113,0,42

In [20]:
landmarks = list(set(df.landmark_index.values))
cols = ['type0_f1',
 'type0_precision',
 'type0_recall',
 'type0_support',
 'type1_f1',
 'type1_precision',
 'type1_recall',
 'type1_support',
 'f1',
 'landmark_index',
 'type1_1',
 'type1_0',
 'precision',
 'recall',
 'type0_1',
 'type0_0']

In [26]:
for l in landmarks:
    df_l = df[df.landmark_index == l]
    new_row={'sample_index': 'aggregated'}
    for col in cols:
        new_row[col]=np.mean(df_l[col])
    df = df.append(new_row, ignore_index=True)

In [27]:
df.tail()

,type0_f1,type0_precision,type0_recall,type0_support,type1_f1,type1_precision,type1_recall,type1_support,f1,landmark_index,type1_1,type1_0,precision,pred,recall,sample_index,type0_1,type0_0
12155,1.0,1.0,1.0,42.487179,1.0,1.0,1.0,34.628205,1.0,148.0,34.628205,0.0,1.0,NaN,1.0,aggregated,0.0,42.487179
12156,1.0,1.0,1.0,42.487179,1.0,1.0,1.0,34.628205,1.0,149.0,34.628205,0.0,1.0,NaN,1.0,aggregated,0.0,42.487179
12157,1.0,1.0,1.0,42.487179,1.0,1.0,1.0,34.628205,1.0,150.0,34.628205,0.0,1.0,NaN,1.0,aggregated,0.0,42.487179
12158,1.0,1.0,1.0,42.487179,1.0,1.0,1.0,34.628205,1.0,151.0,34.628205,0.0,1.0,NaN,1.0,aggregated,0.0,42.487179
12159,1.0,1.0,1.0,42.487179,1.0,1.0,1.0,34.628205,1.0,152.0,34.628205,0.0,1.0,NaN,1.0,aggregated,0.0,42.487179

In [28]:
list(df)

['type0_f1',
 'type0_precision',
 'type0_recall',
 'type0_support',
 'type1_f1',
 'type1_precision',
 'type1_recall',
 'type1_support',
 'f1',
 'landmark_index',
 'type1_1',
 'type1_0',
 'precision',
 'pred',
 'recall',
 'sample_index',
 'type0_1',
 'type0_0']

In [10]:
result = pd.read_csv('../7.aggregatedResults/AT_2med_renamed_2.csv')
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12008 entries, 0 to 12007
Data columns (total 19 columns):
sample_index         12008 non-null object
landmark_index       12008 non-null int64
type                 11856 non-null object
pred                 12008 non-null object
type0_0              12008 non-null float64
type0_1              12008 non-null float64
type1_0              12008 non-null float64
type1_1              12008 non-null float64
type0_precision      12008 non-null float64
type0_recall         12008 non-null float64
type0_f1             12008 non-null float64
type0_num            12008 non-null float64
type1_precision      12008 non-null float64
type1_recall         12008 non-null float64
type1_f1             12008 non-null float64
type1_num            12008 non-null float64
overall_precision    12008 non-null float64
overall_recall       12008 non-null float64
overall_f1           12008 non-null float64
dtypes: float64(15), int64(1), object(3)
memory usage: 1.7+ MB

In [2]:
df = pd.read_csv('../3.InputData/final/landmark_AT_filled_w_2median.csv')
df.head()

  sample_index  pts    r  stype  landmark_index
0            1    0  0.0  mt-at               1
1          101    0  0.0  wt-at               1
2          102    0  0.0  wt-at               1
3          103    0  0.0  wt-at               1
4          104    0  0.0  wt-at               1

In [3]:
df.sample(frac=0.1, replace=True)

      sample_index    pts          r  stype  landmark_index
4475           128   6251   4.151089  wt-at              58
7062           141   8414   9.091117  wt-at              91
11637          114      0  31.192271  wt-at             150
627            103      1   2.088584  wt-at               9
3570           326    866  14.366965  mt-at              46
6625           339     30   1.047009  mt-at              85
32             131      0   0.000000  wt-at               1
8914           121  11730   5.269774  wt-at             115
6086           102   7937   3.891096  wt-at              79
5182           133   1767  11.712533  wt-at              67
5205           323     14   1.652554  mt-at              67
8726           334    365   1.247380  mt-at             112
6312           338   3062   8.137242  mt-at              81
8901           109  13314   7.920286  wt-at             115
620            340      0   0.000000  mt-at               8
3643           320   4680   5.780338  mt-at              47
8580             1      1   0.665255  mt-at             111
6572           119    344  12.058645  wt-at              85
8173           327    188   0.490237  mt-at             105
4357           333   6561   3.288752  mt-at              56
8732           340      0   3.707389  mt-at             112
8359         112_2    117   2.668014  mt-at             108
1985           134      0   7.023217  wt-at              26
151            339      0   0.000000  mt-at               2
8274           106   9652   8.062565  wt-at             107
8090           321   1527   2.408682  mt-at             104
9588           338      0   7.221468  mt-at             123
8436         112_1    974   5.098144  wt-at             109
6551             6      1   1.730471  mt-at              84
6544           336   1369  24.347639  mt-at              84
...            ...    ...        ...    ...             ...
10890            2      0   3.586762  mt-at             140
5011           118   4947   6.888916  wt-at              65
4201           333    669   0.965942  mt-at              54
5082         112_1   6530   4.373638  wt-at              66
4735           320    419  10.182222  mt-at              61
10322          125      0   6.841049  wt-at             133
5752           324   2154   3.323275  mt-at              74
32             131      0   0.000000  wt-at               1
4165           130    426   2.390152  wt-at              54
7665           120   7454   7.815587  wt-at              99
11790        112_1      0   2.567481  wt-at             152
3843           120   7481   7.508115  wt-at              50
235            101      0  14.127939  wt-at               4
5231           105    548   3.729739  wt-at              68
8031             4    324   1.602491  mt-at             103
11222          334      0   0.000000  mt-at             144
24             123      0   0.000000  wt-at               1
3738           338   5601   4.028796  mt-at              48
1123           130      0   4.989334  wt-at              15
9000           129   1285   1.812943  wt-at             116
3189           335     16  17.242060  mt-at              41
6696           332    123   8.151855  mt-at              86
6930           332   6742  11.733847  mt-at              89
2190           106   1486   2.015344  wt-at              29
7415           105   1134   2.688235  wt-at              96
7304            24    160   3.719130  mt-at              94
1842             2      0   4.150936  mt-at              24
1766            24      0  25.537974  mt-at              23
7469           325   2877   4.827208  mt-at              96
7073           318    457   9.288135  mt-at              91

[1186 rows x 5 columns]