In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score

%matplotlib inline

In [3]:
result = pd.read_csv('../7.aggregatedResults/AT_2med.csv')
result.head()

,type0_f1,type0_precision,type0_recall,type0_support,type1_f1,type1_precision,type1_recall,type1_support,f1,landmark_index,type1_1,type1_0,precision,pred,recall,sample_index,type0_1,type0_0
0,0.705882,0.545455,1.0,42,0.0,0.0,0.0,35,0.385027,1,0,35,0.297521,0,0.545455,113,0,42
1,0.705882,0.545455,1.0,42,0.0,0.0,0.0,35,0.385027,2,0,35,0.297521,0,0.545455,113,0,42
2,0.705882,0.545455,1.0,42,0.0,0.0,0.0,35,0.385027,3,0,35,0.297521,0,0.545455,113,0,42
3,1.000000,1.000000,1.0,42,1.0,1.0,1.0,35,1.000000,4,35,0,1.000000,0,1.000000,113,0,42
4,1.000000,1.000000,1.0,42,1.0,1.0,1.0,35,1.000000,5,35,0,1.000000,0,1.000000,113,0,42

In [4]:
df = pd.read_csv('../3.InputData/final/landmark_ZRF_filled_w_2median.csv')
df.head()

  sample_index  pts    r  stype  landmark_index
0            1    0  0.0  mt-at               1
1          101    0  0.0  wt-at               1
2          102    0  0.0  wt-at               1
3          103    0  0.0  wt-at               1
4          104    0  0.0  wt-at               1

In [7]:
samples = list(set(df.sample_index.values))
print(len(samples))

78

In [45]:
labels = {}
preds = {}
num = []
for sample in samples:
    type = 0 if df[df['sample_index']==sample].iloc[0].stype == 'wt-at' else 1
    labels[sample] = type
    
    pred = list(result[(result['sample_index']==sample) & (result['f1'] > 0.7)].pred.values)
    num.append(len(pred))
    vote = 1 if pred.count(1)>pred.count(0) else 0
    preds[sample] = vote

In [46]:
print(np.mean(num))

132.858974359

In [47]:
ww = 0
wm = 0
mm = 0
mw = 0

In [48]:
for sample in samples:
    if labels[sample] == 0 and preds[sample] == 0:
        ww += 1
    elif labels[sample] == 0 and preds[sample] == 1:
        wm += 1
    elif labels[sample] == 1 and preds[sample] == 1:
        mm += 1
    elif labels[sample] == 1 and preds[sample] == 0:
        mw += 1

In [49]:
print(ww,wm,mm,mw)

43 0 33 2